# Visual Studio files
/.vs/

# downloaded zLib package file
/libexif-*.zip

# extracted zLib source
/libexif-*/

# collected libexif build artifacts
/nuget/build/native/include/
/nuget/build/native/lib/
/nuget/licenses/

# locally-built Nuget package
/StoneSteps.libexif.Static.*.nupkg

# sample app for testing the Nuget package
/sample-libexif/.vs/
/sample-libexif/sample-libexif.vcxproj.user
/sample-libexif/packages/
/sample-libexif/packages.config
/sample-libexif/x64/
